@import url(https://fonts.googleapis.com/css?family=Raleway);
body {
	margin: 0;
}

.sansserif {
	font-family: Raleway, Arial, sans-serif;
}

.spacing {
	line-height: 1.5;
}

hr {
	border: 0;
	opacity: 0.5;
	margin-bottom: 0px;
	clear: both;
	display: block;
	width: 100%;
	background-color: #7C98B3;
	height: 1px;
}


/* Website-wide header */

.header {
	background-color: #7C98B3;
	/* Grey background */
	color: white;
	padding: 20px 10px;
	text-align: center;
	/* Centered text */
	font-size: 30px;
	/* Big font size */
	font-weight: bold;
	position: fixed;
	width: 100%;
	top: 0 !important;
}


/* Front-page content. The value of the margin-left property should match the value of the sidebar's width property */

.content {
	margin-left: 200px;
	margin-top: 70px;
	padding: 20px 20px;
	height: auto;
	width: auto;
	font-weight: lighter;
}


/* The side navigation menu */

.sidebar {
	padding: 0;
	width: 200px;
	background-color: #EEF0F2;
	position: fixed;
	height: 100%;
	overflow: auto;
	text-align: center;
	top: 85px;
}


/* Sidebar links */

.sidebar a {
	display: block;
	color: black;
	padding: 16px;
	text-decoration: none;
}


/* Active/current link */

.sidebar a.active {
	background-color: #86BBD8;
	color: white;
}


/* Links on mouse-over */

.sidebar a:hover:not(.active) {
	background-color: #37392E;
	color: white;
}


/* On screens that are less than 800px wide, make the sidebar into a topbar */

@media screen and (max-width: 800px) {
	.sidebar {
		width: 100%;
		top: 70px;
		height: auto;
		position: fixed;
	}
	.sidebar a {
		float: left;
	}
	.content {
		margin-left: 0;
		margin-top: 100px;
	}
	.header {
		left: 0;
	}
}


/* On screens that are less than 400px, display the bar vertically, instead of horizontally */

@media screen and (max-width: 400px) {
	.sidebar a {
		text-align: center;
		float: none;
	}
}


/* Front page text and images formatting. */

.front-page-row {
	display: flex;
	flex-direction: row;
	text-align: justify;
}

.front-page-column2 {
	flex: 0 0 300px;
	margin-top: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
}


/* LinkedIn padding with background text */

.front-page-column1+.front-page-column2 {
	margin-left: 20px;
}


/* Resume page formatting */

.wrapper {
	display: flex;
	flex-direction: row;
}

.column1 {
	display: flex;
	flex-direction: column;
	flex: 0 0 75%;
}

.column2 {
	display: flex;
	flex-direction: column;
	flex: 0 0 25%;
	align-items: center;
	text-align: center;
	margin-top: 10px;
	margin-left: 20px;
}

.resume-pfp {
	border-radius: 50%;
}

.heading {
	font-size: 20px;
	color: #637081;
	font-weight: bold;
	margin-top: 0;
	margin-bottom: 0;
}

.subheading {
	font-size: 17px;
	color: #5090AB;
	font-weight: normal;
	margin-top: 0;
	margin-bottom: 0;
}

.text {
	font-size: 14px;
	color: #37392E;
	font-weight: lighter;
	margin-top: 0;
	margin-bottom: 0;
}

.media {
	display: flex;
	flex-direction: row;
	align-content: center;
}

.media-btns {
	padding: 10px;
	border: none;
	background: none;
	display: inline-block;
	transition: transform .2s;
	/* Animation */
}

.media-btns:hover {
	transform: scale(1.2);
	/* Enlarge icon on hover */
}

.media-btns:focus {
	outline: 0;
}

.list-box {
	display: flex;
	flex-direction: row;
}

ul {
	list-style-type: none;
	list-style-position: inside;
	padding-left: 0;
}

.project {
	flex: 0 0 100%;
	max-width: 100%;
	display: flex;
	flex-direction: row;
	text-align: justify;
}

.project-img {
	flex: 0 0 250px;
	width: 250px;
	height: 250px;
}

.project-text {
	color: #37392E;
	font-weight: lighter;
	font-size: 16px;
	padding: 10px;
}

.comments-flexbox {
	display: flex;
	flex-direction: column;
	text-align: left;
}

.comment-content {
	display: flex;
	flex-direction: column;
}

.comment-element {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 10px;
	border: none;
	border-bottom: 0.5px solid #CACFD6;
	padding: 10px 0px 16px;
}

.gen-btn {
	position: relative;
	top: -15px;
	display: block;
	padding-top: 6px;
	padding-bottom: 6px;
	padding-left: 12px;
	padding-right: 12px;
	font-weight: bold;
	border-radius: 3px;
	border-style: hidden;
	transition: transform .2s;
}

.post-btn {
	color: #EEF0F2;
	background-color: #5090AB;
}

.cancel-btn {
	margin-right: 10px;
	color: #37392E;
	background-color: inherit;
}

.delete-all-btn {
	margin-top: 10px;
	color: #37392E;
	background-color: inherit;
}

.gen-btn:hover {
	transform: scale(1.05);
	/* Enlarge icon on hover */
}

.gen-btn:after,
.gen-btn:focus {
	outline: 0;
}

.comment-date {
	font-size: 13px;
	color: #37392E;
}

.rating-btns {
	padding: 1px;
	border: none;
	background: none;
	margin: 0;
}

.name-rating-container {
	display: flex;
	flex-direction: row;
	text-align: justify;
	align-items: top;
}

.name {
	font-size: 16px;
}


/*the container must be positioned relative:*/

.select-container {
	display: inline-block;
	position: relative;
}

.dropdown {
	border-style: none;
	background: inherit;
	text-align: center !important;
	display: inline-block;
}

.dropdown:hover {
	border: none;
	border-bottom: 0.2px solid #CACFD6;
}

.dropdown:focus {
	outline: 0;
}

.comment-input input[type=text] {
	border: hidden;
	border-bottom: 0.2px solid #CACFD6;
	background-color: inherit;
	display: block;
	width: 100%;
}

.comment-input input[type=text]:focus,
.comment-input input[type=text]:active,
.comment-input input[type=text]:hover {
	outline: none;
}

.comment-input .line {
	z-index: 1;
	height: 3px;
	width: 0px;
	background-color: inherit;
	display: inline-block;
	transition: 0.2s width ease-in-out;
	position: relative;
	top: -16px;
	border-radius: 2px;
}

.comment-input input[type=text]:hover+.line,
.comment-input input[type=text]:active+.line,
.comment-input input[type=text]:visited+.line,
.comment-input input[type=text]:focus+.line {
	width: 100%;
	background-color: #7C98B3;
}

.comment-body {
	padding-bottom: 1px;
	font-size: 16px;
	width: 100%;
}
